<div id="wrapper">
	<%= render 'shared/sidebar'%>
	<div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
        	<h3><%= @project.title.capitalize %> Task List</h3>
        	<% @tasks.each do |task|%>
        		<%= task.title %>
        	<% end %>

        </div>
      </div>
    </div>
  </div>
</div>
