<div id="wrapper">
	<%= render 'shared/sidebar'%>
	<div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
        	<h3><%= @project.title.capitalize %> Task List</h3>
          <%= render 'tasks/form', task: Task.new %>
        	<% @tasks.each do |task|%>
        		<li><%= task.title %></li>
        	<% end %>

        </div>
      </div>
    </div>
  </div>
</div>
